<!-- Page Title -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-white-gradient-opacity-v3--after" style="height: 140%; background-image: url(../../assets/img-temp/1920x800/img10.jpg);"></div>
  <!-- End Parallax Image -->

  <div class="container text-center g-py-100--md g-py-80">
    <h2 class="h1 text-uppercase g-font-weight-300 g-mb-30">Search for our Previous Picks</h2>

    <!-- Search Form -->
    <form class="g-width-60x--md mx-auto">
      <div class="form-group g-mb-20">
        <div class="input-group u-shadow-v21 rounded g-mb-15">
          <input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text" placeholder="Tampa Bay | Bucaneers | TB | TB@NE | NFL:10/5/17">
          <div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">
            <button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="submit">
              <i class="icon-magnifier g-pos-rel g-top-1"></i>
            </button>
          </div>
        </div>
        <small class="form-text g-opacity-0_8 g-font-size-default">Curious about how we performed in the past? Search here.</small>
      </div>
    </form>
    <!-- End Search Form -->
  </div>
</section>

<!-- Counters -->
<section class="g-brd-bottom g-brd-gray-light-v4 g-pt-50">
  <div class="container">
    <div class="row text-center text-uppercase">
      <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
        <div class="js-counter g-color-gray-dark-v1 g-font-size-35 g-font-weight-300 g-mb-7">0</div>
        <h4 class="h6 g-color-gray-dark-v5">Predictions Made</h4>
      </div>

      <div class="col-lg-3 col-sm-6 g-brd-right--lg g-brd-gray-light-v4 g-mb-50">
        <div class="js-counter g-color-gray-dark-v1 g-font-size-35 g-font-weight-300 g-mb-7">0</div>
        <h4 class="h6 g-color-gray-dark-v5">Stats Used</h4>
      </div>

      <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
        <div class="js-counter g-color-gray-dark-v1 g-font-size-35 g-font-weight-300 g-mb-7">0</div>
        <h4 class="h6 g-color-gray-dark-v5">Games Correct</h4>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="js-counter g-color-gray-dark-v1 g-font-size-35 g-font-weight-300 g-mb-7">100%</div>
        <h4 class="h6 g-color-gray-dark-v5">Prediction Rate</h4>
      </div>
    </div>
  </div>
</section>
<!-- End Counters -->

<!-- Recent Picks -->
<section class="g-py-100">
  <div class="container">
    <header class="text-center g-width-60x--md mx-auto g-mb-50">
      <h2 class="h1 g-color-gray-dark-v1 g-font-weight-300">Recent Picks</h2>
      <p class="lead">After final scores are released, we make all of our picks public even if we didn't predict correctly. View them here, and decide for yourself.</p>
    </header>

    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-30 g-mb-0--lg" *ngFor="let pick of picksByRow(1)">
          <app-minipick
            [pick] = "pick">
          </app-minipick>
      </div>
    </div>

    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-30 g-mb-0--lg" *ngFor="let pick of picksByRow(2)">
          <app-minipick
            [pick] = "pick">
          </app-minipick>
      </div>
    </div>

    <div class="text-center">
      <a class="btn btn-xl u-btn-outline-primary text-uppercase g-font-weight-600 g-font-size-12" href="#!">View More Jobs</a>
    </div>
  </div>
</section>
<!-- End Recent Picks -->
