<!-- Page Title -->
<section class="g-bg-secondary g-py-50">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <h2 class="h3 g-color-gray-dark-v1 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Pick Details</h2>
      </div>
      <div class="align-self-center ml-auto">
        <nav>
          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-main" routerLink="/main">Home</a>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-main" routerLink="/picks">Previous Picks</a>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-color-primary">
              <span>{{pick.awayTeam.shortCode}} @ {{pick.homeTeam.shortCode}}</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- Page Title -->

<!-- Jobs Description -->
<section class="g-py-100">
  <div class="container">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-8 g-mb-30 g-mb-0--lg">
        <article class="u-shadow-v11 rounded g-pa-30">
          <!-- Content Header -->
          <div class="row">
            <div class="col-md-9 g-mb-30 g-mb-0--md">
              <div class="media">
                <div class="media-body">
                  <span class="d-block g-mb-3">
                      <a class="u-link-v5 g-font-size-18 g-color-gray-dark-v1 g-color-primary--hover" href="">{{pick.awayTeam.city}} {{pick.awayTeam.longName}} @ {{pick.homeTeam.city}} {{pick.homeTeam.longName}}</a>
                    </span>
                  <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                      <i class="icon-trophy g-pos-rel g-top-1 mr-1"></i> Final Score: {{pick.game.score}}
                    </span>
                </div>
              </div>
            </div>

            <div class="col-md-3 align-self-center text-md-right">
              <a class="u-tags-v1 g-font-size-12 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-3 g-px-8">{{pick.correct}}</a>
            </div>
          </div>
          <!-- End Content Header -->

          <hr class="g-brd-gray-light-v4">

          <!-- Jobs Description -->
          <h3 class="h5 g-color-gray-dark-v1 g-mb-10">Reviewer's Commentary</h3>
          <p>{{pick.commentary}}</p>
          <!-- End Jobs Description -->

          <hr class="g-brd-gray-light-v4">

          <!-- Offer Details & Skills -->
          <div class="row">
            <!-- Offer Details -->
            <div class="col-lg g-mb-30 g-mb-0--lg">
              <h3 class="h5 g-color-gray-dark-v1 g-mb-10">Game Details</h3>
              <ul class="list-unstyled mb-0">
                <li class="media g-mb-10">
                  <span class="d-block g-color-gray-dark-v5 g-width-110">
                      <i class="icon-location-pin g-pos-rel g-top-1 g-mr-5"></i> Location:
                    </span>
                  <span class="media-body">{{pick.game.location}}</span>
                </li>
                <li class="media g-mb-10">
                  <span class="d-block g-color-gray-dark-v5 g-width-110">
                      <i class="icon-calendar g-pos-rel g-top-1 g-mr-5"></i> Date:
                    </span>
                  <span class="media-body">{{pick.game.time}}</span>
                </li>
                <li class="media">
                  <span class="d-block g-color-gray-dark-v5 g-width-110">
                      <i class="icon-location-pin g-pos-rel g-top-1 g-mr-5"></i> Weather:
                    </span>
                  <span class="media-body">{{pick.game.weather}}</span>
                </li>
              </ul>
            </div>
            <!-- End Offer Details -->
          </div>
          <!-- End Offer Details & Skills -->
        </article>
      </div>
      <!-- End Content -->

      <!-- Sidebar -->
      <div class="col-lg-4">
        <aside class="u-shadow-v11 rounded g-pa-30">
          <!-- Content Header -->
          <div class="media g-mb-20">
            <div class="media-body">
              <span class="d-block">
                  <a class="u-link-v5 g-font-size-18 g-color-gray-dark-v1 g-color-primary--hover">Our Choice: {{pick.choice.shortCode}} {{pick.choice.longName}}</a>
                </span>
              <span class="g-color-gray-dark-v5">Manually reviewed by: {{pick.predictionBy}}</span>
            </div>
          </div>
          <!-- End Content Header -->

          <hr class="g-brd-gray-light-v4">

          <!-- Contacts -->
          <ul class="list-unstyled mb-0">
            <li class="d-flex align-items-baseline g-mb-12">
              <i class="icon-location-pin g-color-gray-dark-v5 g-mr-10"></i>
              <span>Issued: {{pick.predictionTime}}</span>
            </li>
            <li class="d-flex align-items-baseline g-mb-10">
              <i class="icon-phone g-color-gray-dark-v5 g-mr-10"></i>
              <span>Sport: {{pick.sport}}</span>
            </li>
            <li class="d-flex align-items-baseline g-mb-10">
              <i class="icon-envelope g-color-gray-dark-v5 g-mr-10"></i>
              <span>League: {{pick.league}}</span>
            </li>
            <li class="d-flex align-items-baseline g-mb-10">
              <i class="icon-globe g-color-gray-dark-v5 g-mr-10"></i>
              <span>ID: {{pick.id}}</span>
            </li>
          </ul>
          <!-- End Contacts -->
        </aside>
      </div>
      <!-- Sidebar -->
    </div>
  </div>
</section>
<!-- End Jobs Description -->

<hr class="g-brd-gray-light-v4 my-0">

<!-- Recent Jobs -->
<section class="g-py-100">
  <div class="container">
    <header class="text-center g-width-60x--md mx-auto g-mb-50">
      <h2 class="h1 g-color-gray-dark-v1 g-font-weight-300">Recent Picks</h2>
      <p class="lead">View more of our previous picks here.</p>
    </header>

    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-30 g-mb-0--lg" *ngFor="let pickRow of picksByRow(1)">
        <app-minipick
          [pick] = "pickRow">
        </app-minipick>
      </div>
    </div>

    <div class="text-center">
      <nav>
        <a class="btn btn-xl u-btn-outline-primary text-uppercase g-font-weight-600 g-font-size-12" routerLink="/picks">View More Picks</a>
      </nav>
    </div>
  </div>
</section>
<!-- End Recent Jobs -->
