<section class="g-pos-rel">
      <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-bluegray-opacity-0_2--after" style="height: 130%; background-image: url(../../assets/img-temp/1920x700/img3.jpg);"></div>

        <div class="container g-bg-cover__inner g-py-100">
          <div class="row align-items-center">
            <div class="col-lg-6 g-mb-30 g-mb-0--lg">
              <h2 class="h1 text-uppercase g-color-white g-mb-30">
                  <span class="g-bg-primary-dark-v3 g-px-5">Stop Researching.</span><br>
                  <span class="g-bg-primary-dark-v3 g-px-5">Start Winning.</span><br>
                </h2>
              <h3 class="h4 g-color-white">
                  <span class="g-bg-black-opacity-0_6 g-px-5">World-class prediction software + </span><br>
                  <span class="g-bg-black-opacity-0_6 g-px-5">manual review by trusted advisors</span><br>
                  <span class="g-bg-black-opacity-0_6 g-px-5">= you win.</span>
                </h3>
            </div>
            <div class="col-lg-6">
              <!-- Vimeo Example -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
              </div>
              <!-- End Vimeo Example -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- Icon Blocks -->
    <section class="g-py-100">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
            <!-- Icon Blocks -->
            <div class="text-center">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                  <i class="icon-communication-081 u-line-icon-pro"></i>
                </span>
              <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">A Simple Service</h3>
              <p class="mb-0">Signup per game, weekly, monthly, or seasonally. Choose how your picks are delivered to you.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
            <!-- Icon Blocks -->
            <div class="text-center">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                  <i class="icon-finance-260 u-line-icon-pro"></i>
                </span>
              <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Losing = Refund</h3>
              <p class="mb-0">We are always striving for accuracy, but if we mess up, you get 50% refunded back as credit or to your card.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
            <!-- Icon Blocks -->
            <div class="text-center">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                  <i class="icon-communication-057 u-line-icon-pro"></i>
                </span>
              <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Reliable Support</h3>
              <p class="mb-0">Need some help? Contact us with 12 hour turnaround.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Icon Blocks -->

    <hr class="g-brd-gray-light-v4 my-0">

    <!-- Our Services -->
    <section class="g-py-100">
      <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
          <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
            <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">How We Work</h2>
          </div>
          <p class="g-font-size-16">At the Win Bros., we don't do bullshit. Signup for a plan, and that's it. Our picks are delivered directly to your inbox, or if you prefer, other notification services such as Twitter DM, Pushbullet, or even Messenger, if that's your thing.</p>
        </header>

        <div class="row justify-content-center g-mb-20">
          <div class="col-md-6 col-lg-4 g-mb-50 g-mb-0--lg">
            <!-- Services : Plans -->
            <div class="u-shadow-v28 g-bg-white text-left text-md-center rounded g-py-40">
              <!-- Services - Header -->
              <header class="text-center g-px-30 mb-5">
                <div class="g-mb-25">
                  <span class="u-icon-v2 u-icon-size--md g-brd-gray-light-v4 g-color-primary rounded-circle">
                      <i class="icon-finance-211 u-line-icon-pro"></i>
                    </span>
                </div>
                <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Choose your plan</h2>
                <nav>
                  <p class="g-font-size-13">We offer a variety of options for your budget and preferences. For more info, see <a routerLink="/prices">pricing.</a></p>
                </nav>
              </header>
              <!-- End Services - Header -->

              <!-- Services - List -->
              <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center g-px-35 g-py-15">
                  <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                  </svg>
                  <span class="g-color-text ml-3">Purchase picks by game</span>
                </li>
                <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                  <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                  </svg>
                  <span class="g-color-text ml-3">Picks for all games by week</span>
                </li>
                <li class="d-flex align-items-center g-px-35 g-py-15">
                  <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                  </svg>
                  <span class="g-color-text ml-3">Picks for all games by month</span>
                </li>
                <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                  <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                  </svg>
                  <span class="g-color-text ml-3">Picks for a sport by season</span>
                </li>
              </ul>
              <!-- End Services - List -->
            </div>
            <!-- End Services : Prices-->
          </div>

          <div class="col-md-6 col-lg-4 g-mb-50 g-mb-0--lg">
            <!-- Services : Picks-->
            <div class="u-shadow-v29 g-bg-primary text-left text-md-center rounded g-py-40">
              <!-- Services - Header -->
              <header class="text-center g-px-35 mb-5">
                <div class="g-mb-25">
                  <span class="u-icon-v3 u-icon-size--md g-color-text g-bg-secondary rounded-circle">
                      <i class="icon-finance-257 u-line-icon-pro"></i>
                    </span>
                </div>
                <h2 class="h5 g-color-white g-font-weight-600">Get your picks</h2>
                <p class="g-color-white-opacity-0_9 g-font-size-13">No longer must you hope your handicapper DMs you in time for the game.</p>
              </header>
              <!-- End Services - Header -->

              <!-- Services - List -->
              <ul class="list-unstyled g-color-white-opacity-0_8 mb-0">
                <li class="d-flex align-items-center g-px-35 g-py-15">
                  <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                  </svg>
                  <span class="ml-3">Delivered ASAP automatically</span>
                </li>
                <li class="d-flex align-items-center u-shadow-v19 g-bg-white-opacity-0_1 g-px-35 g-py-15">
                  <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                  </svg>
                  <span class="ml-3">Sent straight to your inbox</span>
                </li>
                <li class="d-flex align-items-center g-px-35 g-py-15">
                  <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                  </svg>
                  <span class="ml-3">Discover how we made our prediction</span>
                </li>
                <li class="d-flex align-items-center u-shadow-v19 g-bg-white-opacity-0_1 g-px-35 g-py-15">
                  <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                  </svg>
                  <span class="ml-3">Win.</span>
                </li>
              </ul>
              <!-- End Services - List -->
            </div>
            <!-- End Services : Picks-->
          </div>

          <div class="col-md-6 col-lg-4">
            <!-- Services : After the Game-->
            <div class="u-shadow-v28 g-bg-white text-left text-md-center rounded g-py-40">
              <!-- Services - Header -->
              <header class="text-center g-px-35 mb-5">
                <div class="g-mb-25">
                  <span class="u-icon-v2 u-icon-size--md g-brd-gray-light-v4 g-color-primary rounded-circle">
                      <i class="icon-communication-164 u-line-icon-pro"></i>
                    </span>
                </div>
                <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">After the Game</h2>
                <p class="g-font-size-13">Detailed statistics about our performance and customized support for every client.</p>
              </header>
              <!-- End Services - Header -->

              <!-- Services - List -->
              <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center g-px-35 g-py-15">
                  <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                  </svg>
                  <span class="g-color-text ml-3">Lose? Get a refund or credit.</span>
                </li>
                <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                  <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                  </svg>
                  <span class="g-color-text ml-3">Tie? blablabalbal</span>
                </li>
                <li class="d-flex align-items-center g-px-35 g-py-15">
                  <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                  </svg>
                  <span class="g-color-text ml-3">Some other third thing here</span>
                </li>
                <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                  <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                  </svg>
                  <span class="g-color-text ml-3">24/7 Customer Support</span>
                </li>
              </ul>
              <!-- End Services - List -->
            </div>
            <!-- End Services -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Our Services -->

    <hr class="g-brd-gray-light-v4 my-0">

    <!-- Blurb -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <!-- Parallax Image -->
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-white-opacity-0_7--after" style="height: 140%; background-image: url(../../assets/img-temp/1920x1080/img7.jpg);"></div>
      <!-- End Parallax Image -->

      <div class="container u-bg-overlay__inner g-py-150--md g-py-80">
        <div class="row">
          <!-- Section Content -->
          <div class="col-lg-6 order-2 order-sm-1 g-mb-0 g-mb-50--sm g-mb-0--lg">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
              <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Why us?</h2>
            </div>
            <p class="g-font-size-16 g-line-height-2 g-mb-30">We have never understood why handicapping always had to be such a difficult and complicated affair. Handicapping websites shouldn't be trying to advertise. They shouldn't list their "favorite" betting sites for a kickback, and they sure as hell shouldn't only be listing the most obvious picks. You don't pay for a handicapper to find out what you already know. You pay to win.</p>
            <p class="g-font-size-16 g-line-height-2 g-mb-30">We keep it simple and keep your money rolling in. Leave the hard stuff to us, and sit back and enjoy your newfound winnings.</p>
            <a href="#!" class="btn btn-xl u-btn-primary text-uppercase g-font-weight-600 g-font-size-12 rounded g-mr-15 g-mb-15 g-mb-0--sm">Signup now</a>
          </div>
          <!-- End Section Content -->

          <!-- Video Icon -->
          <div class="col-lg-6 order-1 order-sm-2 align-self-center text-center g-pos-rel g-mb-40 g-mb-0--sm">
            <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-src="//vimeo.com/167434033" data-speed="350" data-caption="Lightbox Gallery">
              <span class="u-icon-v3 u-icon-size--xl u-block-hover--scale u-shadow-v24 g-bg-white g-color-gray-dark-v1 g-color-primary--hover g-font-size-20 rounded-circle g-cursor-pointer g-mb-10">
                  <i class="fa fa-play g-pos-rel g-left-2"></i>
                </span>
            </a>
            <p class="g-color-gray-dark-v5">Watch our 2 min video.</p>
          </div>
          <!-- End Video Icon -->
        </div>
      </div>
    </section>
    <!-- End Most Quality Solution -->

    <!-- Counters -->
    <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-pt-50">
      <div class="container">
        <div class="row text-center text-uppercase">
          <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">0</div>
            <h4 class="h6 g-color-gray-dark-v5">Predictions Made</h4>
          </div>

          <div class="col-lg-3 col-sm-6 g-brd-right--lg g-brd-gray-light-v4 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">0</div>
            <h4 class="h6 g-color-gray-dark-v5">Stats Used</h4>
          </div>

          <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">0</div>
            <h4 class="h6 g-color-gray-dark-v5">Games Correct</h4>
          </div>

          <div class="col-lg-3 col-sm-6 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">100%</div>
            <h4 class="h6 g-color-gray-dark-v5">Prediction Rate</h4>
          </div>
        </div>
      </div>
    </section>
    <!-- End Counters -->

    <!-- Previous Picks -->
    <section class="g-py-100">
      <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
          <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
            <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our Previous News</h2>
          </div>
          <p class="g-font-size-16">Want some proof? Take a look at our three most recent picks and decide if we're a good fit for you. We almost always bet what we predict, with slips to prove it.</p>
        </header>

        <div class="row">
          <div class="col-lg-4 g-mb-30" *ngFor="let pick of picksByRow(1)">
            <app-minipick
              [pick] = "pick">
            </app-minipick>
          </div>
        </div>
      </div>
    </section>
    <!-- End Latest News -->
