<article class="u-shadow-v11 rounded g-pa-25">
  <h2 class="h4 g-mb-15">
    <nav>
      <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" routerLink="/picks/{{pick.id}}">{{pick.awayTeam.longName}} @ {{pick.homeTeam.longName}}</a>
    </nav>
  </h2>

  <ul class="list-inline d-flex justify-content-between g-mb-15">
    <li class="list-inline-item g-mr-20">
      <p>Our Choice: {{pick.choice.longName}}</p>
    </li>
  </ul>

  <p class="g-mb-15">Hey scotti what should I put here? it's like four lines so I'm just gonna repeat this: SCOTTI SCOTTI SCOTTI SCOTTI SCOTTI SCOTTI SCOTTI SCOTTI SCOTTI</p>

  <ul class="list-unstyled">
    <li class="media g-mb-10">
      <span class="d-block g-color-gray-dark-v5 g-width-110">
        <i class="icon-calendar g-pos-rel g-top-1 g-mr-5"></i> Game Time:
      </span>
      <span class="media-body">{{pick.game.time}}</span>
    </li>
    <li class="media g-mb-10">
      <span class="d-block g-color-gray-dark-v5 g-width-110">
        <i class="icon-energy g-pos-rel g-top-1 g-mr-5"></i> Weather:
      </span>
      <span class="media-body">{{pick.game.weather}}</span>
    </li>
    <li class="media g-mb-10">
      <span class="d-block g-color-gray-dark-v5 g-width-110">
        <i class="icon-location-pin g-pos-rel g-top-1 g-mr-5"></i> Location:
      </span>
      <span class="media-body">{{pick.game.location}}</span>
    </li>
    <li class="media">
      <span class="d-block g-color-gray-dark-v5 g-width-110">
        <i class="icon-trophy g-pos-rel g-top-1 g-mr-5"></i> Final Score:
      </span>
      <span class="media-body">{{pick.game.score}}</span>
    </li>
  </ul>

  <hr class="g-brd-gray-light-v4">

  <ul class="list-inline d-flex justify-content-between mb-0">
    <li class="list-inline-item">
      <nav>
        <a class="u-tags-v1 g-font-size-12 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-3 g-px-8" routerLink="/picks/{{pick.id}}">{{pick.correct}}</a>
      </nav>
    </li>
    <li class="list-inline-item">
      <nav>
        <a routerLink="/picks/{{pick.id}}">See Details</a>
      </nav>
    </li>
  </ul>
</article>
