<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center g-bg-primary-gradient-opacity-v1--after" style="height: 140%; background-image: url(../../assets/img-temp/1920x800/img2.jpg);"></div>
  <!-- End Parallax Image -->

  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-pos-rel g-z-index-1 g-pt-150 g-pb-200">
    <h3 class="h2 g-font-weight-300 mb-0">Choose how you want to win.</h3>
    <h2 class="g-font-weight-700 g-font-size-65 text-uppercase">Pick Plans</h2>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<!-- Pricing Plans -->
<section class="g-bg-gray-light-v5">
  <div class="container g-pb-100">
    <!-- Pricing Plans -->
    <div class="row g-mt-minus-100 g-mb-70">
      <div class="col-md-4 g-mb-30">
        <!-- Article -->
        <article class="u-shadow-v21 u-shadow-v21--hover g-bg-white text-center g-overflow-hidden g-rounded-4 g-pos-rel g-z-index-2 g-cursor-pointer g-transition-0_3">
          <!-- Article Header -->
          <header class="g-bg-primary g-pos-rel g-px-20 g-py-70">
            <svg class="g-pos-abs g-bottom-0 g-left-0 g-right-0" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="70px" viewBox="0 0 300 70">
              <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
            c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.6" fill="#ffffff" />
              <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
            c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.6" fill="#ffffff" />
              <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
            H42.401L43.415,98.342z" opacity="0.7" fill="#ffffff" />
              <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
            c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#ffffff" />
            </svg>
            <strong class="d-block g-color-white g-font-size-50 g-line-height-0_7 g-mb-20">
                <span class="g-valign-top g-font-size-default">$</span>15<span class="g-font-size-default">/ week</span>
              </strong>
            <h3 class="h6 text-uppercase g-color-white-opacity-0_7 g-letter-spacing-3 g-mb-20">Weekly</h3>
          </header>
          <!-- End Article Header -->

          <!-- Article Content -->
          <div class="g-px-20 g-py-40">
            <ul class="list-unstyled g-mb-40">
              <li class="g-mb-20">All games in supported sports &amp; leagues</li>
              <li class="g-mb-20">Picks delivered to you as soon as possible</li>
              <li class="g-mb-20">Online Support</li>
              <li class="g-mb-20">Lose? Get free credit or a partial refund</li>
            </ul>
            <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10" href="#!">Order Now</a>
          </div>
          <!-- End Article Content -->
        </article>
        <!-- End Article -->
      </div>

      <div class="col-md-4 g-mb-30">
        <!-- Article -->
        <article class="u-shadow-v21 u-shadow-v21--hover g-bg-white text-center g-overflow-hidden g-rounded-4 g-pos-rel g-z-index-2 g-cursor-pointer g-transition-0_3">
          <!-- Article Header -->
          <header class="g-bg-primary g-pos-rel g-px-20 g-py-70">
            <svg class="g-pos-abs g-bottom-0 g-left-0 g-right-0" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="70px" viewBox="0 0 300 70">
              <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
            c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.6" fill="#ffffff" />
              <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
            c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.6" fill="#ffffff" />
              <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
            H42.401L43.415,98.342z" opacity="0.7" fill="#ffffff" />
              <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
            c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#ffffff" />
            </svg>
            <strong class="d-block g-color-white g-font-size-50 g-line-height-0_7 g-mb-20">
                <span class="g-valign-top g-font-size-default">$</span>50<span class="g-font-size-default">/ month</span>
              </strong>
            <h3 class="h6 text-uppercase g-color-white-opacity-0_7 g-letter-spacing-3 g-mb-20">Monthly</h3>
          </header>
          <!-- End Article Header -->

          <!-- Article Content -->
          <div class="g-px-20 g-py-40">
            <ul class="list-unstyled g-mb-40">
              <li class="g-mb-20">200GB of space</li>
              <li class="g-mb-20">Unlimited traffic</li>
              <li class="g-mb-20">Online Support</li>
              <li class="g-mb-20">24 hour Support</li>
            </ul>
            <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10" href="#!">Order Now</a>
          </div>
          <!-- End Article Content -->
        </article>
        <!-- End Article -->
      </div>

      <div class="col-md-4 g-mb-30">
        <!-- Article -->
        <article class="u-shadow-v21 u-shadow-v21--hover g-bg-white text-center g-overflow-hidden g-rounded-4 g-pos-rel g-z-index-2 g-cursor-pointer g-transition-0_3">
          <!-- Article Header -->
          <header class="g-bg-primary g-pos-rel g-px-20 g-py-70">
            <svg class="g-pos-abs g-bottom-0 g-left-0 g-right-0" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="70px" viewBox="0 0 300 70">
              <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
            c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.6" fill="#ffffff" />
              <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
            c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.6" fill="#ffffff" />
              <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
            H42.401L43.415,98.342z" opacity="0.7" fill="#ffffff" />
              <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
            c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#ffffff" />
            </svg>
            <strong class="d-block g-color-white g-font-size-50 g-line-height-0_7 g-mb-20">
                <span class="g-valign-top g-font-size-default">$</span>250<span class="g-font-size-default">/ season</span>
              </strong>
            <h3 class="h6 text-uppercase g-color-white-opacity-0_7 g-letter-spacing-3 g-mb-20">Seasonally</h3>
          </header>
          <!-- End Article Header -->

          <!-- Article Content -->
          <div class="g-px-20 g-py-40">
            <ul class="list-unstyled g-mb-40">
              <li class="g-mb-20">1TB of space</li>
              <li class="g-mb-20">Unlimited traffic</li>
              <li class="g-mb-20">Online Support</li>
              <li class="g-mb-20">24 hour Support</li>
            </ul>
            <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10" href="#!">Order Now</a>
          </div>
          <!-- End Article Content -->
        </article>
        <!-- End Article -->
      </div>
    </div>
    <!-- End Pricing Plans -->

    <h2 class="h5 g-font-weight-700 text-center text-uppercase mb-5">Why choose The Win Bros?</h2>

    <!-- Icons Block -->
    <div class="row no-gutters justify-content-center">
      <div class="col-md-5 col-lg-4">
        <!-- Icon Blocks -->
        <div class="u-shadow-v20 g-brd-right--md g-brd-gray-light-v5 g-bg-white text-center g-rounded-left-5 g-px-20 g-py-40">
          <span class="u-icon-v1 u-icon-size--lg g-color-black g-mb-10">
              <i class="icon-finance-260 u-line-icon-pro"></i>
            </span>
          <h3 class="h5 mb-2">Lowest Pricing</h3>
          <p class="g-color-gray-dark-v5">We guarantee that our prices are the lowest in the industry, with refunds for losses. Good luck finding that anywhere else.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-5 col-lg-4">
        <!-- Icon Blocks -->
        <div class="u-shadow-v20 g-bg-white text-center g-rounded-right-5 g-px-20 g-py-40">
          <span class="u-icon-v1 u-icon-size--lg g-color-black g-mb-10">
              <i class="icon-education-001 u-line-icon-pro"></i>
            </span>
          <h3 class="h5 mb-2">No-BS Handicapping System</h3>
          <p class="g-color-gray-dark-v5">Getting your picks shouldn't be complicated, which is why we send them wherever you want them sent, as soon as they're ready.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <!-- End Icons Block -->
  </div>
</section>
<!-- End Pricing Plans -->

<!-- Accordion -->
<section class="g-bg-gray-gradient-opacity-v1">
  <div class="container g-py-100">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <!-- Heading -->
        <div class="text-center g-mb-60">
          <h2 class="mb-2">Frequently Asked Questions</h2>
          <div class="d-inline-block g-width-35 g-height-1 g-bg-gray-dark-v5 mb-2"></div>
          <p>Have questions? We have answers.</p>
        </div>
        <!-- End Heading -->

        <div id="accordion" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
          <!-- Card -->
          <div class="card g-brd-none rounded g-mb-20">
            <div id="accordion-heading-01" class="u-accordion__header g-pa-0" role="tab">
              <h5 class="mb-0">
                  <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" href="#accordion-body-01" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="accordion-body-01">
                    How does your refund policy work?
                    <span class="u-accordion__control-icon g-color-primary">
                      <i class="fa fa-angle-down"></i>
                      <i class="fa fa-angle-up"></i>
                    </span>
                  </a>
                </h5>
            </div>
            <div id="accordion-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-heading-01" data-parent="#accordion">
              <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                In short, we will provide a credit to your account immediately after the end of any game where our prediction ended up incorrect. You may use this credit to purchase additional games or to extend your current plan, depending on the amount of credit you have.
                Our policy is to refund <<$2.50?>> per missed game, due to the price of an individual game's pick. Credit may be refunded to your method of purchase at the end of your billing cycle if you so wish. Of course, exemptions can always occur and we invite you to contact us if you have additional questions regarding this policy. For more information, please see our
                *refund policy link here.*
              </div>
            </div>
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card g-brd-none rounded g-mb-20">
            <div id="accordion-heading-02" class="u-accordion__header g-pa-0" role="tab">
              <h5 class="mb-0">
                  <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" href="#accordion-body-02" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="accordion-body-02">
                    How are picks provided to me on-time?
                    <span class="u-accordion__control-icon g-color-primary">
                      <i class="fa fa-angle-down"></i>
                      <i class="fa fa-angle-up"></i>
                    </span>
                  </a>
                </h5>
            </div>
            <div id="accordion-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-heading-02" data-parent="#accordion">
              <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                A relative first for the industry, we support multiple notification avenues to make sure your picks are delivered where and when you need them. By default, picks are delivered via email, but can also be sent through Pushbullet, Facebook Messenger, Twitter DM, and soon,
                through SMS straight to your phone. You will also recieve notifications on the website if you happen to be browsing at the time. Notifications are not delivered when predictions are correct but will be delivered when our prediction is incorrect, notifying you that your account
                has new credit available. Picks are sent as soon as final scores from previous games are available and statistics are reviewed.
              </div>
            </div>
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card g-brd-none rounded g-mb-20">
            <div id="accordion-heading-03" class="u-accordion__header g-pa-0" role="tab">
              <h5 class="mb-0">
                  <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" href="#accordion-body-03" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="accordion-body-03">
                    Can I add/upgrade my plan at any time?
                    <span class="u-accordion__control-icon g-color-primary">
                      <i class="fa fa-angle-down"></i>
                      <i class="fa fa-angle-up"></i>
                    </span>
                  </a>
                </h5>
            </div>
            <div id="accordion-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-heading-03" data-parent="#accordion">
              <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                Yes. You may upgrade your plan pro rata at any time with immediate effect, and you will be charged the cost of the new plan minus the value of your current plan. Your billing date will be changed to the current date as well. These prices vary from person to person, so please view
                them on your dashboard if you have an already existing plan.
              </div>
            </div>
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card g-brd-none rounded g-mb-20">
            <div id="accordion-heading-04" class="u-accordion__header g-pa-0" role="tab">
              <h5 class="mb-0">
                  <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" href="#accordion-body-04" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="accordion-body-04">
                    What about downgrading plans?
                    <span class="u-accordion__control-icon g-color-primary">
                      <i class="fa fa-angle-down"></i>
                      <i class="fa fa-angle-up"></i>
                    </span>
                  </a>
                </h5>
            </div>
            <div id="accordion-body-04" class="collapse" role="tabpanel" aria-labelledby="accordion-heading-04" data-parent="#accordion">
              <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                You may also downgrade your plan. If you choose a lower plan on your dashboard, your plan will be changed at the end of the billing cycle and your rate will be downgraded to the new plan. You can reverse this change before the end your billing cycle if you wish.
              </div>
            </div>
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card g-brd-none rounded g-mb-20">
            <div id="accordion-heading-05" class="u-accordion__header g-pa-0" role="tab">
              <h5 class="mb-0">
                  <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" href="#accordion-body-05" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="accordion-body-04">
                    How do I cancel my plan?
                    <span class="u-accordion__control-icon g-color-primary">
                      <i class="fa fa-angle-down"></i>
                      <i class="fa fa-angle-up"></i>
                    </span>
                  </a>
                </h5>
            </div>
            <div id="accordion-body-05" class="collapse" role="tabpanel" aria-labelledby="accordion-heading-05" data-parent="#accordion">
              <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                You may cancel your plan by visiting your billing settings in the dashboard. Please note that all plan cancellations come into effect at the end of the billing cycle, and you retain full access to all picks before this date. You may undo the cancellation before this date, as well.
                Any credit applied to your account at the time of cancellation will automatically be refunded to the method of payment.
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
  </div>
</section>
