<!-- Header -->
<main>
<header id="js-header" class="u-header u-header--static">
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
    <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span class="hamburger hamburger--slider">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
          </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a href="../../index.html" class="navbar-brand">
          <img src="../../assets/img/logoLong.png" alt="Win Bros. Logo">
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
          <nav>
            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
              <!-- Home -->
              <li class="nav-item  g-mx-10--lg g-mx-15--xl" routerLinkActive="active">
                <a routerLink="/main" class="nav-link g-py-7 g-px-0">Home</a>
              </li>
              <!-- End Home -->

              <!-- Prices -->
              <li class="nav-item  g-mx-10--lg g-mx-15--xl" routerLinkActive="active">
                <a routerLink="/prices" class="nav-link g-py-7 g-px-0">Prices</a>
              </li>
              <!-- End Prices -->

              <!-- Previous Picks -->
              <li class="nav-item  g-mx-10--lg g-mx-15--xl" routerLinkActive="active">
                <a routerLink="/picks" class="nav-link g-py-7 g-px-0">Previous Picks</a>
              </li>
              <!-- End Previous Picks-->
            </ul>
          </nav>
        </div>
        <!-- End Navigation -->

        <div class="d-inline-block g-hidden-xs-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
          <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="http://dashboard.drengineer.me" target="_blank">Dashboard</a>
        </div>
      </div>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<!-- Call To Action -->
<section class="g-bg-primary g-color-white g-pa-30" style="background-image: url(../../assets/img/bg/pattern5.png);">
  <div class="d-md-flex justify-content-md-center text-center">
    <div class="align-self-md-center">
      <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">Seriously, why haven't you joined yet? Stop researching. Start winning.</p>
    </div>
    <div class="align-self-md-center">
      <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" target="_blank" href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697?ref=htmlstream">Sign Up Now</a>
    </div>
  </div>
</section>
<!-- End Call To Action -->

<!-- Footer -->
<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
  <div class="container">
    <div class="row">
      <!-- Footer Content -->
      <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
        </div>
        <p>We're a no-BS group of people that believes in simple, easy handicapping to make sure you get what you want: wins. We employ revolutionary technology and expert handicappers to deliver timely and accurate picks right to your inbox before you need them.</p>
      </div>
      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Previous Picks</h2>
        </div>

        <div *ngFor="let pickCol of picksByRow(1); last as isLast">
          <article>
            <h3 class="h6 g-mb-2">
              <nav>
                <a class="g-color-white-opacity-0_8 g-color-white--hover" routerLink="/picks/{{pickCol.id}}">{{pickCol.awayTeam.shortCode}} @ {{pickCol.homeTeam.shortCode}}</a>
              </nav>
            </h3>
            <div class="small g-color-white-opacity-0_6">{{pickCol.game.time}}</div>
          </article>
          <hr *ngIf="isLast == false" class="g-brd-white-opacity-0_1 g-my-10">
        </div>
      </div>
      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Links</h2>
        </div>

        <nav class="text-uppercase1">
          <ul class="list-unstyled g-mt-minus-10 mb-0">
            <nav>
              <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" routerLink="/main">Home</a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                </h4>
              </li>
              <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" routerLink="/prices">Prices</a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                </h4>
              </li>
              <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" routerLink="/picks">Previous Picks</a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                </h4>
              </li>
              <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://dashboard.drengineer.me/account/signup">Signup</a>
                  <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                </h4>
              </li>
            </nav>
          </ul>
        </nav>
      </div>
      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-3 col-md-6">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Talk to Us</h2>
        </div>

        <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../assets/img/maps/map2.png);">
          <!-- Phone -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-phone"></i>
              </span>
            </div>
            <p class="mb-0">(+123) 456 7890 <br> (+123) 456 7891</p>
          </div>
          <!-- End Phone -->

          <!-- Email and Website -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-globe"></i>
              </span>
            </div>
            <p class="mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:contact@winbros.net">info@winbros.net</a>
              <br>
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">winbros.net</a>
            </p>
          </div>
          <!-- End Email and Website -->
        </address>
      </div>
      <!-- End Footer Content -->
    </div>
  </div>
</div>
<!-- End Footer -->

<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
        <div class="d-lg-flex">
          <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 &copy; The Win Bros. All Rights Reserved.</small>
          <ul class="u-list-inline">
            <li class="list-inline-item">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <span>|</span>
            </li>
            <li class="list-inline-item">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Refund Policy</a>
            </li>
            <li class="list-inline-item">
              <span>|</span>
            </li>
            <li class="list-inline-item">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Support</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 align-self-center">
        <ul class="list-inline text-center text-md-right mb-0">
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Instagram">
            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Copyright Footer -->

<a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
  "bottom": 15,
  "right": 15
}' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
  <i class="hs-icon hs-icon-arrow-top"></i>
</a>

<div class="u-outer-spaces-helper"></div>
</main>

